body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #eeeeee;
    color: #000000;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header h1 {
    padding: 80px 0 110px 0;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-brand img:hover {
    opacity: 0.7;
}

.navbar-brand img:active {
    opacity: 0.3;
}

.nav-item-link {
    color: #000000;
    font-size: 16px;
    line-height: 30px;
    font-weight: 550;
    padding-left: 45px;
}

.nav-item-link:hover {
    color: #fb565a;
    text-decoration: none;
}

.nav-item-link:active {
    color: #bdbdbd;
    text-decoration: none;
}

.nav-item-active {
    color: #fb565a;
}

.cart-icon svg {
    opacity: 0.3;
    margin-right: 20px;
    margin-top: 7px;
}

.carousel-item h2 {
    font-size: 47px;
    line-height: 55px;
    font-weight: bold;
    margin: 50px 0 25px 0;
}

.carousel-item p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.carousel-item .btn {
    padding: 19px 55px;
    background-color: #fb565a;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.carousel-item .btn:hover {
    background-color: #e74246;
}

.carousel-item .btn:active {
    background-color: #d7373b;
    color: #e48789;
}

.carousel-indicators li {
    background: url(img/slider-none.png) no-repeat center center;
    opacity: 1;
}

.carousel-indicators .active {
    background: url(img/slider.png) no-repeat center center;
}

.card {
    border-style: none;
}

.card-body {
    padding: 0;
}

.card-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin: 26px 0;
}

.card-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

.card-link {
    padding: 19px 39px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #ffffff;
}

.card-link-1 {
    background-color: #fb565a;
}

.card-link-1:hover {
    background-color: #e74246;
    color: #ffffff;
}

.card-link-1:active {
    background-color: #d7373b;
    color: #e48789;
}

.card-link-2 {
    background-color: #00ca74;
}

.card-link-2:hover {
    background-color: #00bc6c;
    color: #ffffff;
}

.card-link-2:active {
    background-color: #00aa62;
    color: #74c69c;
}

.card-link-3 {
    background-color: #efc84a;
}

.card-link-3:hover {
    background-color: #eab534;
    color: #ffffff;
}

.card-link-3:active {
    background-color: #e5a722;
    color: #edc47f;
}

.line {
    border-bottom: 2px solid #eeeeee;
}

.main-about h2 {
    font-size: 45px;
    font-weight: bold;
}

.main-about p {
    font-size: 16px;
    line-height: 24px;
    margin: 35px 0;
}

.list-title {
    font-weight: bold;
}

.red-line {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
    padding-left: 30px;    
}

.list-item::before {
    content: "";
    position: absolute;
    width: 25px;
	height: 2px;
    margin-top: 9px;
	background: #fb565a;
}

.card-title {
    font-size: 16px;
    line-height: 24px;
    margin: 35px 0;
}

.list-number {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px 0; 
}

.list-percent {
    font-size: 24px;
    margin-top: 8px;
    font-weight: bold;
}

.list-about {
    font-size: 16px;
    line-height: 18px;
}

.logo {
    opacity: 0.4;
}

.logo:hover {
    opacity: 1;
}

.logo:active {
    opacity: 0.2;
}

.map {
    background: url("img/map.png") 0% 40% no-repeat / cover;
    width: 100%;
    height: 420px;
}

.map-box {
    padding: 45px 50px;
    background-color: #ffffff;
    margin: 55px 0;
}

.map-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
}

.map-address {
    font-size: 16px;
    line-height: 18px;
    margin: 30px 0 20px 0;
    color: #666666;
}

.map-phone {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    margin-bottom: 35px;
}

.map-button,
.img-button,
.feedback-button {
    padding: 20px 45px;
    background-color: #fb565a;
    color: #ffffff;
}

.map-button:hover,
.img-button:hover,
.feedback-button:hover {
    background-color: #e74246;
    color: #ffffff;
}

.map-button:active,
.img-button:active,
.feedback-button:active {
    background-color: #d7373b;
    color: #e48789;
}

.footer {
    background-color: #ffffff;
}

.icon-list li {
    padding: 20px 20px;
    background-color: #e1e1e1;
    border-radius: 50%;
    fill: #ffffff;
}

.icon-list li:hover {
    background-color: #e74246;
    fill: #ffffff;
}

.icon-list li:active {
    background-color: #d7373b;
    fill: #e37376;
}

.footer-text h3 {
    font-size: 36px;
    font-weight: bold;
} 

.footer-text p {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.filter-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.range-content {
    padding: 39px 20px;
    background-color: #eeeeee;
    border-radius: 10px;
}

.range-bar {
    position: relative;
}

.scale {
    height: 2px;
    background-color: #d7dcde;
}

.bar {
    width: 80%;
    height: 2px;
    background-color: #00ca74;
}

.range-button {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cccdcd;
    box-sizing: content-box;
    cursor: pointer;
}

.range-button-to {
    left: 80%;
}

.price {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}

.price input {
    padding: 7px 0 7px 10px;
    max-width: 80px;
    max-height: 38px;
    background-color: #eeeeee;
    color: #283136;
    border: none;
    border-radius: 5px;
}

.form-check-label p {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
}

.form-check-input {
    display: none;
}

.radio-icon {
    display: block;
}

.form-check-label input[type="radio"]+.radio-icon-baseline {
    width: 26px;
    height: 26px;
    background: url("img/radio-off.svg") no-repeat;
    cursor: pointer;
}

.form-check-label input[type="radio"]:checked+.radio-icon-baseline {
    background: url("img/radio-on.svg") no-repeat;
}

.filter-input {
    display: none;
}

.checkbox-icon {
    display: block;
}

.filter-label input[type="checkbox"]+.checkbox-icon-features {
    width: 26px;
    height: 27px;
    margin-left: 20px;
    background: url("img/checkbox-off.svg") no-repeat;
    cursor: pointer;
}

.filter-label input[type="checkbox"]:checked+.checkbox-icon-features {
    background: url("img/checkbox-on.svg") no-repeat;
}

.filter-button {
    padding: 16px 88px;
    background-color: #eeeeee;
    font-size: 16px;
    line-height: 18px;
}

.filter-button:hover {
    background-color: #dfdfdf;
}

.filter-button:active {
    background-color: #d5d5d5;
    color: #a9a9a9;
}

.sort-text {
    font-size: 18px;
    font-weight: bold;
}

.sort-link {
    text-decoration: none;
    color: #000000;
    opacity: 0.3;
    font-size: 14px;
    line-height: 18px;
}

.sort-link:hover {
    text-decoration: none;
    color: #000000;
    opacity: 0.6;
}

.sort-link:active {
    border: none;
    opacity: 1;
}

.sort-link-active {
    opacity: 1;
}

.sort-icon {
    fill: #ededed;
    text-decoration: none;
}

.icon-active {
    fill: #000000;
}

.sort-icon:hover {
    fill: #a6a6a6;
    text-decoration: none;
}

.sort-icon:active {
    fill: #000000;
}

.catalog-item img {
    width: 100%;
}

.catalog-header {
    background-color: #e9e9e9;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.catalog-header span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 7px;
}

.img-box {
    padding: 36px;
    background-color: #eeeeee;
}

.img-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.img-text {
    font-size: 16px;
    line-height: 18px;
    opacity: 0.7;
}

.catalog-item:hover > .img-box {
    display: block;
}

.catalog-item:hover > .catalog-header {
    background-color: #4d4d4d;
}

.img-box {
    position: absolute;
    top: 150px;
    display: none;
    margin-right: 15px;
    width: 100%;
}

.feedback {
    padding: 70px;
    background-color: #ffffff;
    box-shadow: 0 20px 40px 0 rgb(0, 0, 0, 0.75);
}

.feedback-close {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 25px;
}

.feedback-close::after {
    transform: rotate(-45deg);
}

.feedback-close::before {
    transform: rotate(45deg);
}

.feedback-close::before, .feedback-close::after {
    content: "";
    position: absolute;
    font-size: 40px;
    right: 25px;
    top: 50px;
    width: 25px;
    height: 5px;
    background-color: #fecccd;
}

.feedback-form h2 {
    font-size: 45px;
    font-weight: bold;
}

.feedback-text {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.feedback-data input {
    border: 2px solid #d7dcde;
    border-radius: 5px;
    padding: 16px 4px 16px 14px;
}

.feedback-text textarea {
    border: 2px solid #d7dcde;
    border-radius: 5px;
    padding: 10px;
}